.filter-bar
  = form_tag incomes_path, method: 'get' do
    %div
      %label Филиалы:
      = select_tag 'brancheslist', options_from_collection_for_select(Branch.order(:name), :id, :name, selected: params[:branch]), prompt: 'Выберите филиал'
    %div
      %label Менеджеры:
      = select_tag 'managerslist', options_from_collection_for_select(@employees, :id, :initials, selected: params[:manager]), prompt: 'Выберите менеджера'
    .clearfix