.filter-bar
  %form#incomes_search
    %div
      %label Филиалы:
      = select_tag 'branch', options_from_collection_for_select(Branch.order(:name), :id, :name), prompt: 'Выберите филиал'
    %div
      %label Менеджеры:
      = select_tag 'manager', options_from_collection_for_select(Employee.order(:lastname), :id, :initials), prompt: 'Выберите менеджера'
    %div
      = submit_tag 'Применить'
    .clearfix
