%ul.breadcrumb
  %li Вы сейчас здесь
  %li
    = link_to root_path, :class => 'glyphicons dashboard' do
      %i
      Главная
  %li.divider
  %li= link_to 'Бланки заказов', orders_path
  %li.divider
  %li Новый заказ
%h3.separator.bottom
  Новый заказ
  %span добавить
.widget.widget-heading-simple.widget-body-gray
  .widget-body
    = render 'form'
