/*
 * require jquery.ui.all
 *= require bootstrap
 *= require bootstrap-timepicker
 *= require bootstrap-select
 *= require bootstrap-toggle-buttons
 *= require fileupload
 *= require datetimepicker
 *= require responsive
 *= require glyphicons
 *= require font-awesome
 *= require uniform.default
 *= require prettyPhoto
 *= require style-flat
 *= require green-army
 *= require jquery.fileupload-ui
 *= require_self
 */

.actions-bar {
  min-width: 100px;
  max-width: 100px;
  width: 100px;
}
.group-row {
  background-color: #e8960c !important;
  color: #ffffff !important;
}
