.filter-bar
  %form#plans_search
    - if current_user.is_admin?
      %div
        %label Филиал
        = select_tag 'filter_branch', options_from_collection_for_select(Branch.order(:name), :id, :name, selected: current_employee.branch.id)
    %div
      %label Группа
      = select_tag 'filter_group', options_from_collection_for_select(Group.order(:code), :id, :code), include_blank: true
    %div
      = submit_tag 'Применить'
    .clearfix
