%ul.breadcrumb
  %li Вы сейчас здесь
  %li
    = link_to root_path, :class => 'glyphicons dashboard' do
      %i
      Главная
  %li.divider
  %li Планы по новым клиентам
.heading-buttons
  %h3
    Планы по новым клиентам
  .buttons.pull-right
    = link_to new_plan_path, :class => 'btn btn-primary btn-icon glyphicons circle_plus' do
      %i
      Новый план
  .clearfix
.separator.bottom
.innerLR
  = render 'filters'
  .widget.widget-heading-simple.widget-body-gray.plans-list
    = render partial: 'plans', locals: { plans: @plans }
