%ul.breadcrumb
  %li Вы в городе
  %li
    = link_to root_path, :class => 'glyphicons globe' do
      %i
      Рязань
  %li.divider
  %li Профиль
  %li.pull-right.hidden-phone
    = link_to support_path, :class => 'glyphicons shield' do
      Справка
      %i
  %li.pull-right.hidden-phone.divider
%h3
  Профиль:
  = @member.username
.innerLR
  .widget.widget-heading-simple.widget-body-gray
    .widget-body
      = render 'form'
